:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgb(26, 25, 25);
  background-color: #fefdfd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  gap: 1em;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}
